---
version: 3
images:
  base_image:
    name: quay.io/centos/centos:stream9
dependencies:
  ansible_core:
    # A minimum of 2.15 is required to get ansible-inventory --limit option
    package_pip: ansible-core==2.16.7
  ansible_runner:
    package_pip: ansible-runner==2.4.0
  python_interpreter:
    package_system: python3.12
    python_path: "/usr/bin/python3.12"
  galaxy: |
    ---
    collections:
      - name: awx.awx
      - name: amazon.aws
      - name: ansible.posix
      - name: community.general
      - name: community.docker
      - name: community.aws
  system: |
    git-core [platform:rpm]
    python3.12-devel [platform:rpm compile]
    libcurl-devel [platform:rpm compile]
    krb5-devel [platform:rpm compile]
    krb5-workstation [platform:rpm]
    subversion [platform:rpm]
    subversion [platform:dpkg]
    git-lfs [platform:rpm]
    sshpass [platform:rpm]
    rsync [platform:rpm]
    epel-release [platform:rpm]
    python-unversioned-command [platform:rpm]
    unzip [platform:rpm]
    jq [platform:rpm]
    vim [platform:rpm]
    openssl [platform:rpm]
    podman-remote [platform:rpm]
    cmake [platform:rpm compile]
    gcc [platform:rpm compile]
    gcc-c++ [platform:rpm compile]
    make [platform:rpm compile]
    openssl-devel [platform:rpm compile]
  python: |
    git+https://github.com/ansible/ansible-sign
    ncclient
    paramiko
    pykerberos
    pyOpenSSL>=23.0.0
    pypsrp[kerberos,credssp]
    pywinrm[kerberos,credssp]
    toml
    pexpect>=4.5
    python-daemon
    pyyaml
    six
    cryptography>=39.0.0
    redis
    boto3[crt]
    receptorctl
    netaddr
    ara
    mitogen
additional_build_steps:
  append_base:
    - RUN $PYCMD -m pip install -U pip
    - RUN unlink /usr/bin/python3 && ln -s /usr/bin/python3.12 /usr/bin/python3
  append_final:
    - COPY --from=quay.io/ansible/receptor:v1.4.8 /usr/bin/receptor /usr/bin/receptor
    - RUN mkdir -p /var/run/receptor
    - RUN git lfs install --system
