git+https://github.com/ansible/ansible-sign
ansible-runner>=2.3.1

ansible-core
dumb-init

cryptography>=39.0.0

ncclient
paramiko
pykerberos
pyOpenSSL>=23.0.0
pypsrp[kerberos,credssp]
pywinrm[kerberos,credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six

redis
boto3[crt]
