---

name: Release

on:
  push:
    # build and push anytime commits are merged to specified branches
    branches:
      - main
      - devel
    paths:
      - "./**"
      - '!**/*.md'
  pull_request:
    # build and push anytime a pull request is opened or synchronized
    branches:
      - main
      - devel
    paths:
      - "./**"
      - '!**/*.md'
  release:
    # build and push anytime a release is created
    types:
      - created

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r requirements.txt

      - name: Login to Docker Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.IMAGE_REGISTRY || 'ghcr.io' }}
          username: ${{ vars.IMAGE_REGISTRY_USER || github.actor }}
          password: ${{ secrets.IMAGE_REGISTRY_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Generate image tag
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then
            if [[ "${{ github.ref_name }}" == "main" ]]; then
              echo "IMAGE_TAG=latest" >> $GITHUB_ENV
            elif [[ "${{ github.ref_name }}" == "devel" ]]; then
              echo "IMAGE_TAG=devel" >> $GITHUB_ENV
            else
              echo "IMAGE_TAG=${{ github.ref_name }}-latest" >> $GITHUB_ENV
            fi
          elif [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "IMAGE_TAG=DEV-PR-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          elif [[ "${{ github.event_name }}" == "release" ]]; then
            echo "IMAGE_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          fi

      - name: Build and push image
        run: |
          docker buildx create --name awx-ee-buildx
          docker buildx use awx-ee-buildx
          ansible-builder create -v3 --output-file=Dockerfile
          docker buildx build \
            --push \
            --platform=linux/amd64,linux/arm64 \
            --tag=${{ vars.IMAGE_REGISTRY || 'ghcr.io' }}/${{ vars.IMAGE_REPOSITORY || github.repository }}:${{ env.IMAGE_TAG }} \
            context

